.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: -14px;
}

.navbar {
  align-items: center;
  background-color: darkslategrey;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  font-size: 16px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  height: 100%;
}

.nav-links li {
  padding: 10px 10px;
  list-style: none;
}

.nav-links li:hover {
  background-color: slategray;
  border-radius: 0;
  padding: 10px 10px;
}

.nav-login {
  margin-right: 10px;
}

.socials {
  display: flex;
  padding: 10px 10px;
  align-items: right;
  justify-content: flex-end;
  margin-left: auto;
}

/* Trip.css */
.trip-list {
  list-style: none;
  margin-right: 30px;
}

.trip-item {
  border: 2px solid #1a2556;
  padding: 10px;
  margin-bottom: 10px;
}

.leaflet-container {
  height: 100vh;
}