.budget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-container {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.trip-container > div {
  flex: 0 0 100%;
}
