.dropdown-menu {
  position: relative;
  top: 0;
  left: 43%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.dropdown-menu select {
  padding: 5px;
  font-size: 16px;
}

.dropdown-menu h2,
.dropdown-menu h3 {
  margin-top: 0;
}

.dropdown-menu div {
  margin-top: 10px;
}
