.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.card-content {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  margin-bottom: 2px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
}

.card-content h3 {
  margin: 0;
}

.close-button {
  padding: 4px 8px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button {
  padding: 4px 8px;
  background-color: #2fb9ea;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  right: 130px;
  margin-top: 19px;
  position: relative;
}

.image-container {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.card-image {
  width: 90%;
  height: auto;
  border: solid 2px;
}

.inline-cards {
  justify-content: space-between;
  display: inline-grid;
  grid-gap: 20px;
}
