.parameter-list {
  font-family: Arial, sans-serif;
  padding: 20px;
  /*border: 1px solid #ccc;*/
  /*border-radius: 1px;*/
}

.parameter-list h2 {
  margin-top: 0;
}

.parameter-list__list {
  list-style-type: none;
  padding: 0;
}

.parameter-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.parameter-list__item-label {
  font-weight: bold;
  margin-right: 10px;
}

.parameter-list__rating .star {
  cursor: pointer;
  color: #9d9c9c;
}

.parameter-list__rating .star.filled {
  color: #f68d02;
}
