body {
  position: relative;
  height: 100vh;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#logo {
  max-height: 500px;
  margin-top: 20px;
}

body {
  background: #010916;
  color: #fff;
}

#logo {
  height: 120px;
}

button {
  height: 60px;
  width: 300px;
  font-size: 22px;
  background-color: #101a2c;
  border: 1px solid #4b5763;
  color: #b0b1b3;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 4px;
}

#doc-link {
  position: fixed;
  bottom: 2px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}
